@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";



html{
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: serif;
}
.section-ttl{
    font-size: 5rem;
    margin-bottom: 100px;
    margin-top: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

/* --------------------------------- */
/* Header 
/* --------------------------------- */

.header{
    top: 0;
    z-index: 9999;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px #3d3d3b;
    width: 100%;
    position: fixed;
    padding: 40px 60px;
    background: rgba(255,255,255,0.9);
}
.header-inner.transform{
    background-color: #fff;
    padding: 10px 60px;
}


.header-main{
    display: flex;
}
.header-logo-wrapper{
    width: 55px;
    height: 55px;
    padding: 2.5px 0;
}
.header-logo-wrapper img{
    width: 55px;
    height: 55px;
}
.header-main-wrapper{
    display: flex;
    text-decoration: none;
}
.header-ttl-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-ttl{
    font-size: 6rem;
    margin-left: 10px;
    color: #3d3d3b;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.header-ttl.tf{
    margin-bottom: 0;
}
.header-ttl::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(86, 175, 197);;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.header-ttl:hover::after {
    transform: scale(1, 1);
}
.header-ttl-tx{
    color: #979797;
    font-size: 1.5rem;
    padding-left: 10px;
}
.header-ttl-tx.nt{
    display: none;
}

  

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-list-wrapper{
    display: flex;
}
.nav-list-inner{
    margin-right: 40px;
}
.nav-list-inner:last-child{
    margin-right: 0;
}
.icon-wrapper{
    display: none;
}
.nav-item{
    text-align: center;
    margin-right: 5vw;
    margin-top: 20px;    
}
.nav-item.cha{
    margin-top: 0;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-item a{
    text-decoration: none;
    color: #3d3d3b;
}
.nav-item-text{
    font-size: 2.7rem;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.nav-item-text.tf{
    margin-bottom: 0;
    color: rgb(90, 90, 90);
}
.nav-item-tx{
    font-size: 1.3rem;
    color: #979797;
}
.nav-item-tx.nt{
    display: none;
}
.nav-item-text::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(86, 175, 197);;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}
.nav-item-text:hover::after{
    transform: scale(1, 1);
}






/* --------------------------------- */
/* First View 
/* --------------------------------- */


.fv{
    background-image: url(../img/fv_bgi.png);
    background-size: contain;
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fv-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 300px;
}
.fv-ttl{
    font-size: 3.5rem;
    padding-bottom: 40px;
    padding-top: 10px;
}
.fv-ttl-br{
    display: none;
}




/* -------------------------- */
/* ボタン 
/* -------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-contact {
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
}

a.btn-contact:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #d4d4d4;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-contact:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.btn-contact-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: #fff;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

a.btn-contact:hover {
  -webkit-transform: translate(0, 0.25rem);
  transform: translate(0, 0.25rem);
  background: #fff;
}

a.btn-contact:hover:before {
  -webkit-transform: translate3d(0, 0.5rem, -1rem);
  transform: translate3d(0, 0.5rem, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-contact:hover:after {
  content: "\f2b6";
}

a.btn-contact:active {
  -webkit-transform: translate(0rem, 0.75rem);
  transform: translate(0rem, 0.75rem);
}

a.btn-contact:active:before {
  -webkit-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-contact:active:after {
  content: "\f2b6";
}

.btn-contact{
    margin-bottom: 100px;
}



/* -------------------------------- */
/* About
/* -------------------------------- */


.about{
    width: 100%;
    box-shadow: 0 0 3px #333;
}
.about-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 50px;
}

.about-contents-wrapper{
    display: flex;
    margin-bottom: 60px;
}
.about-contents{
    width: 65%;
    padding-right: 30px;
}
.about-contents-ttl{
    font-size: 3.5rem;
    margin-bottom: 30px;
}
.about-contents-tx{
    font-size: 2rem;
    margin-bottom: 60px;
    line-height: 1.5;
}
.about-contents-img-wrapper{
    padding-left: 55px;
    border-left: 2px solid #3d3d3b;
}
.accent{
    font-weight: bold;
}







/* -------------------------------- */
/* Service
/* -------------------------------- */


.service{
    width: 100%;
    padding-bottom: 100px;
    box-shadow: 0 0 3px #333;
}
.service-inner{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-contents{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.ct{
    box-shadow: 0 0 3px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;}
.content1{
    margin-right: 30px;
}
.content2{
    margin-left: 30px;
}
.ctt{
    font-size: 3.5rem;
    margin: 30px 0;
}
.tx{
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 3px;
}
.tx-wrapper{
    padding: 30px;
}
.lp-tx-wrapper{
    padding-bottom: 85px;
}
table{
    font-size: 2rem;
    text-align: center;
}
table th, table td{
    border: 2px solid rgb(179, 179, 179);
}
.price, .submit, .others{
    padding: 10px 30px;
    writing-mode: horizontal-tb;
}
.td{
    padding: 10px;
    line-height: 1.5;
}
.contact-link{
    color: rgb(86, 175, 197);
} 









/* -------------------------------- */
/* Works
/* -------------------------------- */

.works{
    width: 100%;
    box-shadow: 0 0 3px #333;
    padding-bottom: 100px;
}
.works-inner{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.works-contents{
    max-width: 1200px;
    margin: 0 auto;
}
.works-contents-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
}
.works-contents-item{
    padding: 20px;
    object-fit: fill;
}
.buttons button{
    margin: 0 15px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.buttons button{
    width: 100px;
    height: 30px;
}
.buttons button:focus{
    outline: 0;
}
.selected{
    background-color: #3d3d3b;
    color: #fff;
}





/* -------------------------------- */
/* Contact
/* -------------------------------- */


.contact{
    width: 100%;
    /* background-color: #929292; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-inner{
    display: flex;
    padding-bottom: 40px;
    padding-left: 50px;
}
.contact-wrapper{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 3px #333;
}
.contact-wrapper p{
    font-size: 20px;
    margin-bottom: 30px;
}
.contact-tx{
    line-height: 2;
}
.contact-wrapper-itc{
    font-weight: bold;
}
.twitter-wrapper{
    margin-left: 30px;
    padding-left: 40px;
    border-left: 1px solid #333;
    padding-right: 40px;
}

a.btn-sns {
    font-size: 2.4rem;
    line-height: 50px;
  
    width: 50px;
    height: 50px;
    padding: 0;
  
    letter-spacing: 0;
  
    color: #fff;
    border-radius: 50%;
}
  
a.btn-sns:hover {
    color: #fff;
}
  
a.btn-sns--twitter {
    background: #9e9e9e;
}





/* -------------------------------- */
/* Footer 
/* -------------------------------- */
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(61, 61, 61);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 2rem;
    color: #bbb;
}

@media screen and (min-width: 1025px){
    /* -------------------------- */
    /* Service 
    /* -------------------------- */
    .hp-tx-wrapper{
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 1199px){
    .works-contents{
        max-width: 800px;
    }

    .contact-wrapper{
        padding: 0 10px;
        margin: 0;
    }
    .twitter-wrapper{
        padding-left: 30px;
    }
}
@media screen and (max-width: 768px){

    /* -------------------------- */
    /* Header
    /* -------------------------- */

    .icon-wrapper{
        display: block;
    }
    .header-inner{
        bottom: 0;
        background-color: rgb(88, 88, 88);
        padding: 10px 40px;
    }
    .header-main{
        display: none;
    }
    .nav-list-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 60px;
    }
    .nav-item-text{
        color: #bbb;
    }




    /* -------------------------- */
    /* First View 
    /* -------------------------- */

    .fv{
        padding-top: 0;
    }
    .fv-wrapper{
        padding-bottom: 200px;
    }
    .fv-ttl{
        padding-top: 60px;
        font-size: 2.8rem;
    }

    /* -------------------------- */
    /* About
    /* -------------------------- */

    .about-contents-img-wrapper{
        width: 200px;
        height: 200px;
        padding-left: 30px;
    }
    .about-contents-img{
        width: 200px;
        height: 200px;
    }
    .about-contents-2{
        width: 500px;
    }

    /* -------------------------- */
    /* Service 
    /* -------------------------- */

    .small{
        font-size: 2rem;
    }
    .lp-tx-wrapper{
        padding-bottom: 135px;
    }

    /* -------------------------- */
    /* Works
    /* -------------------------- */

    .works-contents-item{
        padding: 12px;
    }

    /* -------------------------- */
    /* footer
    /* -------------------------- */

    .footer{
        margin-bottom: 95px;
    }

}
@media screen and (max-width: 425px){
    /* -------------------------- */
    /* Header
    /* -------------------------- */

    .icon-wrapper{
        width: 50px;
        height: 50px;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .header-inner{
        padding: 5px;
    }
    .nav-list{
        margin: 0 25px;
    }
    .nav-item{
        margin-top: 10px;
    }
    .nav-list-inner{
        margin-right: 15px;
    }
    .nav-item-text{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .nav-item-tx{
        font-size: 3px;
    }
    .header-inner.transform{
        padding: 5px 10px;
    }



    /* -------------------------- */
    /* First View 
    /* -------------------------- */

    .fv{
        padding-top: 0;
        height: 85vh;
        background-image: url(../img/fv-bgi-sp.jpg);
    }
    .fv-wrapper{
        padding-bottom: 200px;
    }
    .fv-ttl{
        padding-top: 60px;
        font-size: 2.5rem;
        line-height: 1.8;
        text-align: center;
    }
    .fv-ttl-br{
        display: block;
    }

    /* -------------------------- */
    /* About
    /* -------------------------- */

    .about-inner{
        margin-right: 30px;
        margin-left: 30px;
    }
    .about-contents-wrapper{
        flex-direction: column;
    }
    .about-contents{
        width: 100%;
        padding: 0;
    }
    .about-contents-img-wrapper{
        width: 100%;
        height: 100px;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-contents-img{
        width: 100px;
        height: 100px;
    }
    .about-contents-2{
        width: 100%;
    }

    /* -------------------------- */
    /* Service 
    /* -------------------------- */

    .service-contents{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    .ct{
        margin: 0;
        width: 100%;
    }
    .content1{
        margin-bottom: 60px;
    }
    .small{
        font-size: 2rem;
    }
    .lp-tx-wrapper{
        padding-bottom: 30px;
    }

    /* -------------------------- */
    /* Works
    /* -------------------------- */

    .buttons button{
        margin: 0 30px 30px;
    }
    .works-contents-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .works-contents-item{
        padding: 12px 0;
    }

    /* -------------------------- */
    /* contact
    /* -------------------------- */

    .twitter-wrapper{
        margin: 30px;
        border: none;
    }
    .contact-wrapper{
        margin-bottom: 30px;
        padding: 20px;
    }
    .contact-inner{
        padding: 0 20px;
        flex-direction: column;
    }

    /* -------------------------- */
    /* footer
    /* -------------------------- */

    .footer{
        margin-bottom: 80px;
    }
}


@media screen and (max-width: 375px){
    .fv{
        height: 89vh;
    }
    .icon-wrapper{
        width: 30px;
        height: 30px;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    .nav-list{
        margin: 0;
        padding: 0 10px;
    }
    .nav-list-inner{
        margin-right: 21px;
    }
    .nav-item-text{
        font-size: 15px;
    }
    .header-inner.transform{
        padding: 5px 10px;
        padding-left: 20px;
    }

    .footer{
        margin-bottom: 55px;
    }
}
